<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= category.name %></h1>
    <h2>Items in this Category:</h2>
    <ul>
        <% items.forEach(function(item) { %>
            <a href="<%= item.url %>">
                <li><%= item.name %> - $<%= item.price %></li>
            </a>
        <% }); %>
    </ul>
    <p><a href="<%= category.url %>/delete" />Delete Category</p>
    <p><a href="<%= category.url %>/update" />Update Category</p>
</body>
</html>
