<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
</head>
<body>
    <h1><%= item.name %></h1>
    <p>Category:  <a href="<%= category.url %>"><%= category.name %></a> </p>
    <p>Price: $<%= item.price %></p>
    <p>In Stock: <%= item.numberInStock %></p>
    <% if (item.expiryDate) { %>
        <p>Expiry: <%= item.expiry_formatted %></p>
    <% } %>
    <p><a href="<%= item.url %>/delete" />Delete Item</p>
    <p><a href="<%= item.url %>/update" />Update Item</p>
</body>
</html>
